<% if @books == [] %>
    <p>Create new book</p>
<% else %>
    <% @books.each do |book| %>
       
       <CENTER><h3>	<p>User
	    
       	<b><%= book.user.email %></b> write: <br />
	  <p><b> <%=image_tag book.image.url(:medium) %><br /></b>	
       <b><%= book.name %></b><br />
       <%= book.body %></p>
       <p><%= link_to "Read More", book_path(book.id) %></p></h3>
       </CENTER>
    <% end %>
<% end %>