<%= link_to "Create new book",  new_book_path %> |
<%= link_to "Photo Gallery",  books_path %>

<% if @books == [] %>
    <p>Create new book</p>
<% else %>
    <% @books.each do |book| %>
       <p>User
	    
       	<b><%= book.user.email %></b> write: <br />
       <b><%= book.name %></b><br />
       <%= book.body %></p>
       <p><%= link_to "Read More", book_path(book.id) %></p>
    <% end %>
<% end %>